* {
  font-family: "REM", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 96vh; */
  width: 50vw;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: auto;
}

#infoColumn {
  width: 35%;
  min-width: 340px;
  background-color: black;
  color: whitesmoke;
}

#contentColumn {
  width: 65%;
  min-width: 430px;
  background-color: ghostwhite;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#profileIcon {
  width: 25%;
  margin: 15px 0;
}

p,
h3,
h4,
h5,
time {
  margin: 15px;
}

.languageContent {
  width: 100%;
}

.languageSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55pxpx;
}

.peopleIconContainer:hover {
  cursor: pointer;
}

.peopleIcon {
  width: 38px;
}

.peopleIconBlank {
  width: 38px;
  opacity: 0.6;
}

.educationCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.programmingContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__item {
  height: 125px;
  display: none;
}

.carouselImg {
  height: 100%;
  width: 100%;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  margin-bottom: -25px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(55, 55, 55, 0.708);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: cornflowerblue;
}