@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
html,
body {
  margin: 0;
  height: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eee;
}

.content {
  background: rgb(84, 99, 99);
  background: linear-gradient(
    0deg,
    rgba(84, 99, 99, 1) 0%,
    rgba(27, 32, 48, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

li {
  margin: 2% auto;
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 38vw;
  min-height: 400px;
  max-height: 530px;
  min-width: 300px;
  color: #eee;
}

.header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.12) 40%,
    rgba(27, 32, 48, 1) 100%
  );
}

.header:before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  scale: (1, 1);
  transform: translateZ(0);
  background: #1b2030
    url(https://images.unsplash.com/photo-1530738270955-2ed78de5c2a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1905&q=80)
    50% 0 no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: grow 360s linear 10ms infinite;
  transition: all 0.4s ease-in-out;
  z-index: -2;
}

.header_text {
  flex: 0 0 auto;
  width: 100%;
  padding: 12% 10% 0 10%;
  text-align: center;
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }

  50% {
    transform: scale(1.2) translateY(-400px);
  }
}

#profileIcon {
  width: 4em;
  margin: 15px 0;
}

.topic_header {
  font-size: 1.1em;
  font-weight: bolder;
  border-bottom-style: solid;
  font-family: "Questrial", sans-serif;
  margin: 2% auto 1% 20%;
  padding-bottom: 3px;
}

.info_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info_panel p {
  margin: 0% 20% 2% 20%;
  text-align: justify;
}

.language_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.language_span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 60%;
  margin: 0% 20%;
}

.peopleIcon {
  width: 38px;
}

.peopleIconBlank {
  width: 38px;
  opacity: 0.6;
}

.experience_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.experience_content p {
  margin: 2% 20%;
  text-align: justify;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.education_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.education_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  margin: 8px;
  padding: 8px;
  background-color: #1b2030;
  border-radius: 15px;
  color: #eee;
  width: 42%;
  min-width: 400px;
}

.programming_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  display: none;
}

.carouselImg {
  height: 100%;
  width: 100%;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  margin-bottom: -25px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(55, 55, 55, 0.708);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__button--selected {
  background: cornflowerblue;
}
